body {
  margin: 0;
  background-color: #FFE034;
  font-family: 'Goldplay', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div {
  font-family: 'Goldplay', sans-serif !important;
}

.text-primary {
  color: #0B51D5;
}

.text-secondary {
  color: #FFE034;
}

.text-third {
  color: #E46119
}

.text-fourth {
  color: #F5511C
}

.background-primary {
  background-color: #0B51D5;
}

.background-secondary {
  background-color: #FFE034;
}

.background-third {
  background-color: #E46119;
}

.custom-menu .ant-menu-item a,
.custom-menu .ant-menu-item {
  color: #0B51D5 !important;
}

.custom-menu .ant-menu-item-selected {
  color: #0B51D5 !important;
  font-weight: bold;
}

/* Ubah seluruh background modal */
.custom-modal .ant-modal-content {
  background-color: #E46119;
}

/* Ubah background header (title) */
.custom-modal .ant-modal-header {
  background-color: #E46119;
  border-bottom: none; /* Opsional, untuk hilangkan garis bawah */
}

/* Ubah warna teks title jika perlu */
.custom-modal .ant-modal-title {
  color: #FFE034;
}

/* Ubah background modal body (opsional jika mau konsisten) */
.custom-modal .ant-modal-body {
  background-color: #E46119;
}
