body {
  margin: 0;
  background-color: #FFE034;
}
.text-primary {
  color: #0B51D5;
}

.text-secondary {
  color: #FFE034;
}

.text-third{
  color: #E46119
}

.text-fourth{
  color: #F5511C
}

.background-primary {
  background-color: #0B51D5;
}

.background-secondary {
  background-color: #FFE034;
}

.background-third {
  background-color: #E46119;
}

.custom-menu .ant-menu-item a,
.custom-menu .ant-menu-item {
  color: #0B51D5 !important;
}

.custom-menu .ant-menu-item-selected {
  color: #0B51D5 !important;
  font-weight: bold;
}

